In [1]:
import pandas as pd
import numpy as np
import os

np.random.seed(42)

Creating Raw Data Directory

In [8]:
BASE_PATH = r"D:\Dynamic Price Optimization Recommendation Engine"
RAW_DATA_PATH = os.path.join(BASE_PATH, "data", "raw")

os.makedirs(RAW_DATA_PATH, exist_ok=True)

Creating Products Dataset

In [3]:
products = pd.DataFrame({
    "product_id": range(1001, 1021),
    "product_name": [f"Product_{i}" for i in range(1, 21)],
    "current_price": np.random.randint(200, 2000, 20)
})

products.head()

   product_id product_name  current_price
0        1001    Product_1           1326
1        1002    Product_2           1659
2        1003    Product_3           1060
3        1004    Product_4           1494
4        1005    Product_5           1330

Creating Sales Dataset

In [4]:
sales = pd.DataFrame({
    "product_id": np.random.choice(range(1001, 1021), 300),
    "quantity_sold": np.random.randint(1, 6, 300),
    "transaction_date": pd.date_range(
        end=pd.Timestamp.today(), periods=300
    )
})

sales.head()

   product_id  quantity_sold           transaction_date
0        1002              1 2025-04-09 15:07:47.347042
1        1012              3 2025-04-10 15:07:47.347042
2        1006              5 2025-04-11 15:07:47.347042
3        1002              2 2025-04-12 15:07:47.347042
4        1001              2 2025-04-13 15:07:47.347042

Creating Inventory Dataset

In [5]:
inventory = pd.DataFrame({
    "product_id": range(1001, 1021),
    "inventory_on_hand": np.random.randint(20, 500, 20)
})

inventory.head()

   product_id  inventory_on_hand
0        1001                155
1        1002                205
2        1003                335
3        1004                197
4        1005                 47

Creating Competitor Prices

In [6]:
competitor_prices = pd.DataFrame({
    "product_id": range(1001, 1021),
    "competitor_price": np.random.randint(180, 1900, 20)
})

competitor_prices.head()

   product_id  competitor_price
0        1001              1088
1        1002              1761
2        1003              1750
3        1004              1456
4        1005               569

Saving all raw data

In [9]:
products.to_csv(os.path.join(RAW_DATA_PATH, "products.csv"), index=False)
sales.to_csv(os.path.join(RAW_DATA_PATH, "store_sales_line_items.csv"), index=False)
inventory.to_csv(os.path.join(RAW_DATA_PATH, "store_inventory_snapshot.csv"), index=False)
competitor_prices.to_csv(os.path.join(RAW_DATA_PATH, "competitor_prices.csv"), index=False)

print("✅ All CSV files saved successfully at:", RAW_DATA_PATH)

✅ All CSV files saved successfully at: D:\Dynamic Price Optimization Recommendation Engine\data\raw